<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <variable name="logDir" value="${logDir}" />
    <variable name="logName" value="${logName}" />

    <target name="file"
            xsi:type="File"
            layout="${longdate}|${message}"
            fileName="${var:logDir}${var:logName}.txt"
            archiveFileName="${var:logDir}Archiwum/${var:logName}_arch{#}.txt"
            archiveEvery="Day"
            keepFileOpen="false"
            encoding="utf-8" />
    />
    <target xsi:type="Memory" name="mail" layout="${message}" />
  </targets>
  <rules>
    <logger name="*"
            minlevel="Info"
            writeTo="file" />
    <logger name="*"
        minlevel="Error"
        writeTo="mail" />
  </rules>
</nlog>